.anchor {
    float: none;
    clear: both;
}

.footer {
    padding-top: 100px;
}

.nadstroika {
    height: 800px;
}

.custom-month-year {
    margin: 0;
}

.container .jumbotron {
    padding-left: 30px;
    padding-right: 30px;
}

.pagination .last, .pagination .first {
    display: none !important;
}

.pagination > .selected > a,
.pagination > .selected > span,
.pagination > .selected > a:hover,
.pagination > .selected > span:hover,
.pagination > .selected > a:focus,
.pagination > .selected > span:focus {
    z-index: 2;
    color: #ffffff;
    cursor: default;
    background-color: #428bca;
    border-color: #428bca;
}

.pager .pagination a {
    border-radius: 0px !important;
}

.row_status_1 {
    background: #dff0d8;
}
.row_status_2 {

}
.row_status_3{
    background: #f2dede;
}


.popup_prepear{
    text-decoration: underline;
    cursor: pointer;
}
.popup_prepear:hover{
    text-decoration: none;
}