/*------------------------door--------------------------------------------*/
.door {
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    top: 0;
    width: 100%;
    z-index: 150000;
    direction: ltr;
    text-align: left;
    position: fixed;
}

.door_box_1 {
    overflow: hidden;

    direction: ltr;
    text-align: left;
}

.universe {
    height: 100%;

}

.insert_here {
    /*background: rgba(100, 0, 100, .3);*/
    padding: 0 30px 20px 30px;
}

.insert_here .clone_block {
    display: block;
    background: #fff;
    padding: 0 30px 20px 30px;
}

.my_cont {
    margin: 0 auto;
    position: relative;
    padding-top: 8%;

    direction: ltr;
    text-align: left;
}

.kamen {
    margin: 0 auto;
    max-width: 800px;
    z-index: 200;
    position: relative;
    /*    padding-bottom:100px;*/
    background: rgba(200, 200, 200, .4);
}

.kamen ul li {
    display: block;
    height: 40px;
}

.kamen ul li.dop {
    background: #ececec;
}

body.fix_w {
    min-width: 1000px;
}

.big_but {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
}

.expands {
    direction: ltr;
    text-align: left;

    min-width: 900px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#ajax_loader {
    display: none;
    position: fixed;
    width: 1px;
    height: 1px;
    z-index: 10000;
    left: 50%;
    top: 40%;
}

.zakrytb {
    background: none repeat scroll 0 0 #00BCF2;
    cursor: pointer;
    padding: 7px 10px;
    position: absolute;
    right: 10px;
    text-decoration: underline;
    top: 1px;
    color: #fff;
}

.zakrytb:hover {
    text-decoration: none;
}

.vk {
    background: #fff;
    padding: 10px 20px 60px 20px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.vk + h1 {
    display: inline-block;
    padding-top: 20px;
}

.title_door {
    padding: 10px 30px 10px 30px;
    height: 40px;
    background: greeen;
}

.title_door h1 {
    color: #fff;
}


