/*setting*/
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.anchor {
    float: none;
    clear: both;
}

.anchor2:after {
    content: '.';
    font-size: 0px;
    color: transparent;
    float: none;
    clear: both;
    display: block;
}

.centrator {
    border: 1px solid black;
    width: 80%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -200px;
    position: relative;
}

.push {
    height: 200px;
    clear: both;
    float: none;
}

.header {
    height: 150px;
    background: #333;
}

.footer {
    height: 200px;
    background: black;
}

/*index*/
section.index {

}

section.index > article {
    display: block;
    height: 900px;
}

.nadstroika {
    height: 800px;
}

/*maine menu*/
.main-menu {
    background: #e5e5e5;
}

.main-menu li {
    float: left;
    display: block;
}

.main-menu a {
    display: block;
    padding: 4px 10px;
}

.fixerus {
    position: fixed;
    left: 10%;
    top: 0;
    z-index: 1;
}

h1, h2, h3 {
    margin: 0;
}

