/*setting*/
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic-ext);

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PT_Sans.woff');
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'PT Sans', sans-serif, Arial;
}

article {

}

.anchor {
    float: none;
    clear: both;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 24px;
}

.turquoise {
    color: #23baa7;
}

.d-turquoise {
    color: #64a098;
}

.d-green {
    color: #a4b609;
}

.gray {
    color: #a8b9b9;
}

.d-gray {
    color: #7e8f8f;
}

.anchor2:after {
    content: '.';
    font-size: 0px;
    color: transparent;
    float: none;
    clear: both;
    display: block;
}

.hidden, .hide {
    display: none;
}

.centrator {
    /*padding-top: 30px; no padding to centrator!*/
    width: 80%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    min-width: 940px;
    max-width: 1440px;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -200px;
    position: relative;
}

.push {
    height: 200px;
    clear: both;
    float: none;
}

.header {
    background: #FFF;
}

.header_control {
    height: 160px;
}

.header .centrator {
    padding-top: 0;
}

.head-ul {
    text-align: justify;
}

.head-ul > li {
    display: inline-block;
    text-align: left;
}

.head-ul > li.helper {
    width: 100%;
    height: 0;
    visibility: hidden;
}

.logo-img {
    background: url(../i/logo.png);
    width: 164px;
    height: 95px;
    margin-top: 25px;
    display: inline-block;
}

.logo-text {
    margin-top: 50px;
}

.logo, .logo-text, .header nav ul, .contacts {
    display: inline-block;
    vertical-align: top;
}

.header nav ul {
    display: inline-block;
    list-style: none;
    padding-top: 25px;
}

.header nav ul:last-child {
    margin-left: 15px;
}

.header nav ul:first-child li a:after {
    content: '';
    background: url(../i/border.png) no-repeat;
    width: 1px;
    height: 11px;
    display: inline-block;
    margin-left: 20px;
    margin-top: 11px;
    float: right;
}

.header nav ul li a {
    color: #0dbda7;
    line-height: 2.2;
}

.contacts {
    padding-top: 35px;
}

.contacts h2, .contacts p {
    color: #4a4a49;
    text-align: right;
    margin-top: -5px;
    padding-bottom: 5px;
}

.contacts .button {
    background: url(../i/call-btn.png) no-repeat;
    width: 231px;
    height: 53px;
    border: none;
    outline: none;
    cursor: pointer;
}

.contacts .button:active {
    background-position: 0px -53px;
}

.default-field {
    border: none;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 8px 0;
    color: #9a9999;
    font-size: 16px;
    text-indent: 6px;
    margin: 5px 0;
}

#footer {
    height: 300px;
}

.footer-contacts {
    background: #f8f6ef;
}

.footer-contacts:after {
    background: url('../i/footer_bottom.png') repeat-x;
    width: 100%;
    height: 10px;
    content: '';
    display: block;
}

.footer-contacts .head-ul {
    padding-top: 20px;
    padding-bottom: 10px;
}

.footer-contacts .contacts {
    padding-top: 28px;
}

.footer-contacts .contacts h2 {
    color: #4a4a49;
    text-align: right;
    margin-top: -5px;
    padding-bottom: 8px;
}

.footer-partners {
    height: 136px;
}

.footer-partners span {
    line-height: 136px;
    color: #b5b5b5;
    font-size: 20px;
}

.partners-left {
    float: left;
}

.sport_academy, .volg_travel, .pingvin {
    display: inline-block;
    background: url("../i/partners.png");
    height: 76px;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.sport_academy {
    background-position: 0px 0px;
    width: 78px;
    margin-left: 55px;
}

.volg_travel {
    background-position: -156px 0px;
    width: 126px;
    margin-left: 30px;
}

.pingvin {
    background-position: -408px 0px;
    width: 85px;
    margin-left: 20px;
}

.sport_academy:hover {
    background-position: -78px 0px;
}

.volg_travel:hover {
    background-position: -282px 0px;
}

.pingvin:hover {
    background-position: -493px 0px;
}

.partners-right {
    float: right;
    text-align: right
}

.vk, .inst {
    display: inline-block;
    margin-top: 28px;
}

.vk div {
    background: url("../i/cc.png") 0px 0px no-repeat;
    height: 27px;
    width: 27px;
}

.inst div {
    background: url("../i/cc.png") -37px 0px no-repeat;
    height: 27px;
    width: 27px;
    margin-left: 10px;
}

.partners-right p {
    font-size: 11px;
    color: #b5b5b5;;
}

/*index*/
/*action*/
.action {
    position: relative;
}

.action .centrator {
    padding: 30px 0;
}

.act-price, .action-title {
    z-index: 15;
    position: relative;
}

.act-price {
    position: absolute;
}

.act-price .active {
    color: #fe4902;
    padding-right: 30px;
    font-weight: bold;
}

.act-price div:first-child span.active {
    font-size: 42px;
}

.act-price div:last-child span.active {
    font-size: 30px;
}

.big-tit {
    font-size: 42px;
    color: #4a4a49;
    font-weight: bold;
}

.mini-tit {
    font-size: 33px;
    color: #4a4a49;
}

.no-price {
    color: #4a4a49;
    font-size: 30px;
    position: relative;
    padding-right: 15px;
}

.no-price hr {
    display: inline-block;
    width: 90px;
    position: absolute;
    bottom: 18px;
    left: -8px;
    border: 1px solid #989897 !important;
    border-bottom: none;
    -webkit-transform: rotate(160deg);
    -moz-transform: rotate(160deg);
    -ms-transform: rotate(160deg);
    -o-transform: rotate(160deg);
}

div.hr {
    display: inline-block;
}

.action-bg {
    position: relative;
    top: 20px;
    left: -45px;
    right: 0px;
    z-index: 5;
}

.action-bg img {
    width: 100%;
    height: auto;
    display: block;
}

.window {
    width: 300px;
    /*height: 500px;*/
    z-index: 15;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    position: absolute;
    right: 35px;
    top: 240px;
    background: rgb(220, 224, 35); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(220, 224, 35, 1) 0%, rgba(93, 147, 42, 1) 92%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(220, 224, 35, 1)), color-stop(92%, rgba(93, 147, 42, 1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(220, 224, 35, 1) 0%, rgba(93, 147, 42, 1) 92%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(220, 224, 35, 1) 0%, rgba(93, 147, 42, 1) 92%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(220, 224, 35, 1) 0%, rgba(93, 147, 42, 1) 92%); /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(220, 224, 35, 1) 0%, rgba(93, 147, 42, 1) 92%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dce023', endColorstr='#5d932a', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    padding: 20px;
}

.window input {
    width: 100%;
    margin-top: 20px;
}

.w_info {
    text-align: center;
    margin: 6px 0 25px;
}

.w_info p {
    color: #555555;
    background: #ffde00;
    display: inline-block;
    font-size: 21px;
    margin-bottom: 3px;
    padding: 0 5px;
    width: 250px;
}

.w_info p:last-child {
    width: auto;
}

.error-field {
    position: relative;
}

.error-field p.error-text {
    color: #fe4302;
    font-size: 16px;
    padding-left: 10px;
    position: absolute;
}

.error-field input {
    border: 1px solid #fe4302 !important;
    background: url("../i/error.png") no-repeat 96% center;
    background-color: #fff;
}

.inp_descr {
    text-align: center;
    font-size: 15px;
    color: #fff;
}

.window .button.reservd {
    margin: 40px auto 0;
}

.button.reservd {
    background: url(../i/reservd-btn.png) 0px 0px no-repeat;
    width: 216px;
    height: 53px;
    border: none;
    outline: none;
    cursor: pointer;
    display: block;
    position: relative;
}

.button.reservd:active {
    top: 2px;
}

section.index {

}

section.index > article {
    display: block;
}

.nadstroika {
    height: 850px;
    position: relative;
    margin: 0 auto 100px;
    width: -moz-calc(100% - 20px);
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
}

/*main menu*/
.main-menu {
    /*background: #e5e5e5;*/
    /*height: 29px;*/
}

.main-menu li {
    /*float: left;*/
    /*display: block;*/
}

.main-menu a {
    /*display: block;*/
    /*padding: 4px 10px;*/
}

.main-menu li.active a {
    /*background: black;*/
    color: #000;
}

.stopper {
    /*height: 29px;*/
}

.fixerus {
    /*position: fixed;*/
    /*width: 100%;*/
    /*z-index: 100;*/
    /*top: 0;*/
    /*left: 0;*/
}

.help-menu {
    background: #fff;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: -50px;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out;
    height: 50px;

    -webkit-box-shadow: 0px 1px 11px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 1px 11px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 1px 11px 0px rgba(50, 50, 50, 0.75);
}

.in_display {
    opacity: 1;
    top: 0;
}

.help-menu .active a {
    background: yellow;
}

.help-menu a {
    display: block;
    background: #fff;
}

.help-menu ul {
    text-align: justify;
}

.help-menu ul:after {
    width: 100%;
    content: '';
    display: inline-block;
}

.help-menu li {
    display: inline-block;
    padding-top: 15px;
}

#linklogo {
    display: block;
    text-decoration: none;
}

h1, h2, h3 {
    margin: 0;
}

/*about*/
.about {
    background: #94c11c;
    color: #fff;
}

.about h1 {
    text-align: center;
    font-weight: normal;
}

.abt-icon {
    width: 138px;
    height: 136px;
    background: url(../i/ico.png) no-repeat;
    float: left;
}

.abt-icon-1 {
    background-position: 0px 0px;
}

.abt-icon-2 {
    background-position: -138px 0px;
}

.abt-icon-3 {
    background-position: -276px 0px;
}

.abt-icon-4 {
    background-position: -414px 0px;
}

.abt-icon-5 {
    background-position: -552px 0px;
}

.abt-icon-6 {
    background-position: -690px 0px;
}

.abt-ul {
    margin-top: 60px;
}

.abt-ul li {
    float: left;
    display: block;
    width: 50%;
    height: 136px;
    overflow: hidden;
    list-style: none;
    margin-bottom: 60px;
}

.abt-ul p {
    font-size: 24px;
    height: 136px;
    vertical-align: middle;
    display: table-cell;
    padding-left: 10px;
    padding-right: 30px;
    line-height: 1.25;
}

.picterform {
    text-align: center;
    padding-bottom: 75px;
}

.ask-form {
    border: 7px solid #fad44a;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    padding: 20px 70px 100px;
    width: 80%;
    display: inline-block;
    position: relative;
}

.ask-form h2 {
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    padding-bottom: 25px;
}

.ask-form input {
    /*border: 1px solid #919090;*/
    box-shadow: -1px 0 0 #919090, 1px 0 0 #919090, 0px 1px 0 #919090, 0px -1px 0 #919090;
    border: none;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 0;
    color: #808080;
    font-size: 15px;
    text-indent: 6px;
    margin: 5px 0;
}

.input-name {
    display: block;
    width: 100%;
}

.input-phone, .input-mail {
    width: 50%;
    display: block;
    position: relative;
}

.input-mail {
    float: right;
}

.input-phone div, .input-mail div {
    position: absolute;
    top: 0;
}

.input-phone div {
    left: 0px;
    right: 25px;
}

.input-mail div {
    left: 25px;
    right: 0px;
}

.input-phone input, .input-mail input {
    width: 100%;
}

.ask-btn {
    width: 216px;
    height: 53px;
    background: url(../i/button_ask.png) no-repeat;
    border: none;
    outline: none;
    position: absolute;
    bottom: -30px;
    left: 50%;
    margin-left: -108px;
    cursor: pointer;
}

.ask-btn:active {
    bottom: -33px;
}

.reviews {
    background: #e4f8f8;
}

.reviews .centrator img {
    position: absolute;
    left: 315px;
    top: 23px;
}

.reviews .centrator {
    padding-bottom: 25px;
}

.reviews-box, .city {
    width: 50%;
}

.city {
    float: left;
}

.reviews-box {
    float: right;
}

.city-title {
    padding-bottom: 15px;
    padding-left: 10px;
}

.city-title h2, .city-title div {
    display: inline-block;
    vertical-align: middle;
}

.city-title h2 {
    font-size: 28px;
    color: #808080;
    font-weight: normal;
    padding-left: 5px;
}

.city-title div {
    background: url("../i/i-map.png") no-repeat;
    width: 53px;
    height: 47px;
}

.city-descr {
    font-family: Myriad Pro, san-serif;
    font-size: 15.6px;
    color: #7e8f8f;
    padding-left: 15px;
}

.city-map {
    background: url("../i/map.png");
    width: 506px;
    height: 369px;
    position: relative;
    margin-top: 20px;
}

.city-map a {
    position: absolute;
    right: 40px;
    bottom: 50px;
    color: #259ab3;
}

.reviews-box h2 {
    color: #616161;
    margin-bottom: 25px;
    font-size: 28px;
    padding-left: 20px;
}

.reviews-box h2 span {
    font-weight: normal;
}

.comment_wrapp {
    width: 100%;
    position: relative;
}

.comment {
    position: relative;
    margin: 0 20px;
    padding: 15px 35px 50px 15px;
    font-style: italic;
    font-size: 15px;
    background: #ffffff;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.19);
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.19);
    min-height: 150px;
}

.comment::after {
    content: "";
    position: absolute;
    background: url("../i/hvost.png") no-repeat;
    width: 32px;
    height: 22px;
    bottom: -19px;
    left: 100px;
}

.arrow-left, .arrow-right {
    background: url("../i/arrows.png") no-repeat !important;
    width: 11px;
    height: 54px;
    position: absolute;
    top: 70px;
    margin-top: -27px;
}

.arrow-left {
    background-position: 0px 0px !important;
    left: 0px;
}

.arrow-right {
    background-position: -11px 0px !important;
    right: 0px;
}

.carousel-inner div.item {
    display: none;
}

.carousel-inner div.active {
    display: block;
}

.avatar {
    display: inline-block;
    background: url("../i/ava.png") no-repeat;
    width: 109px;
    height: 109px;
    background-size: 103px;
    -webkit-border-radius: 109px;
    -moz-border-radius: 109px;
    border-radius: 109px;
    border: 3px solid #9ed4e0;
    margin-top: 20px;
    margin-left: 20px;
    margin-left: 20px;
}

.reviews-info {
    display: inline-block;
    vertical-align: 35px;
    padding-left: 15px;
}

.reviews-name, .reviews-city {
    font-size: 20px;
    font-style: italic;
}

.reviews-name {
    color: #616161;
}

.reviews-city {
    color: #49a9be;
}

.add_review {
    background: url("../i/add_review.png") no-repeat;
    width: 174px;
    height: 47px;
    float: right;
    margin-top: -3px;
    border: none;
    outline: none;
    cursor: pointer;
}

.add_review:active {
    background-position: 0px 3px;
}

.cottage h2 {
    font-size: 38px;
    color: #ffc81b;
    text-align: center;
    font-weight: normal;
    margin-bottom: 30px;
}

.cottages-ul {
    position: relative;
}

.cottages-ul > li {
    height: 440px;
    overflow: hidden;
    width: 49%;
    display: block;
    position: relative;
}

.cottages-wrapp {
    position: absolute;
    color: #252525;
    font-family: Calibri, sans-serif;
    bottom: 50px;
    top: 0;
}

.cottages-wrapp > div {
    padding: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 7px solid #fad44a;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    height: 100%;
}

.cottages-ul > li:nth-child(2n-1) {
    float: left;

}

.cottages-ul > li:nth-child(2n-1) .cottages-wrapp {
    left: 0;
    right: 5px;
}

.cottages-ul > li:nth-child(2n) {
    float: right;
}

.cottages-ul > li:nth-child(2n) .cottages-wrapp {
    left: 5px;
    right: 0;
}

.cottages-wrapp h3 {
    font-size: 28px;
    padding-bottom: 25px;
}

.cottages-wrapp p {
    padding-bottom: 20px;
}

.cott-descr li {
    font-size: 16px;
    list-style: none;
}

.cott-descr li:before {
    content: "-";
}

.cott-descr-marg {
    margin-bottom: 18px;
}

.cot-reservd-btn {
    width: 174px;
    height: 41px;
    background: url(../i/reservd-green.png) no-repeat;
    border: none;
    outline: none;
    cursor: pointer;
}

.cot-reservd-pos {
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -87px;
}

.cot-reservd-btn:active {
    bottom: -22px;
}

/*----------------------------------------------------*/
.pagination {
    margin: 20px 0;
}

.pagination ul {
    display: inline-block;
    *display: inline;
    margin-bottom: 0;
    margin-left: 0;
    *zoom: 1;
}

.pagination ul > li {
    display: inline;
}

.pagination ul > li > a {
    float: left;
    padding: 4px 10px;
    line-height: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #f8e9b6;
    border-left: 1px solid #fff;
    color: #252525;
    font-size: 18px;
    font-family: Calibri, sans-serif;
}

.pagination ul > li:last-child > a, .pagination ul > li:first-child > a {
    font-size: 18px;
    font-family: serif;
    color: #86b234;
    background-color: #e5f4c9;
}

.pagination ul > li:last-child > a:hover,
.pagination ul > li:first-child > a:hover {
    background-color: #e5f4c9;
}

.pagination ul > li:last-child > a {
    margin-left: 4px;
}

.pagination ul > li:first-child > a {
    margin-right: 4px;
}

.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a {
    background-color: #fad44a;
}

.pagination ul > .active > a {
    color: #252525;
    cursor: default;
}

.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
    color: #252525;
    cursor: default;
    background-color: transparent;
}

/*-------------------------------------------*/
.cot-gallery {
    height: 130px;
    overflow: hidden;
}

.cot-gallery .fg-template {
    display: inline-block;
    margin-top: 10px;
    width: 32%;
}

.fg-template img {
    width: 100%;
}

.cot-gallery .fg-template a {
    text-decoration: none;
}

.overfloy_Y {
    /*overflow-y: scroll!important;*/
}

dl {
    margin-top: 0;
    margin-bottom: 20px;
}

dt, dd {
    line-height: 1.428571429;
    font-weight: normal;
}

dt {
    font-size: 15px;
    color: #252525;
}

dd {
    margin-left: 0;
}

@media (min-width: 768px) {
    .dl-horizontal dt {
        float: left;
        width: 160px;
        overflow: hidden;
        clear: left;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .dl-horizontal dd {
        margin-left: 180px;
    }

    .dl-horizontal dd:before,
    .dl-horizontal dd:after {
        display: table;
        content: " ";
    }

    .dl-horizontal dd:after {
        clear: both;
    }

    .dl-horizontal dd:before,
    .dl-horizontal dd:after {
        display: table;
        content: " ";
    }

    .dl-horizontal dd:after {
        clear: both;
    }
}

.required {
    color: #ff0000;
}

.modal-zakaz input, .modal-zakaz textarea {
    border: 1px solid #919090;
    font-size: 14px;
    outline: medium none;
    padding: 2px 0;
    text-indent: 6px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.modal-zakaz textarea {
    width: 100%;
}

.modal-zakaz .dl-horizontal dd {
    margin-bottom: 14px;
}

.input-fio {
    width: 300px;
}

.cot-reservd-pos-2 {
    display: block;
    margin: 45px auto 0;
    position: relative;
}

.cot-reservd-pos-2:active {
    top: 2px;
}

.partners {
    background: #eedc99;
}

.partners h2 {
    color: #a08831;
    font-size: 28px;
    text-align: center;
    font-weight: normal;
    padding-bottom: 25px;
}

.partners ul li {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: #0099ff;
}

.partners ul {
    text-align: center;
}

.container-block {
    padding: 50px 0;
}

.calendar h2, .calendar h4 {
    color: #616161;
    text-align: center;
    font-weight: normal;
}

.calendar h2 {
    font-size: 28px;
    padding-bottom: 15px;
}

.calendar h4 {
    font-size: 22px;
    font-style: italic;
}

.callback-form {
    position: absolute;
    right: 0;
}

.callback-modal input {
    display: block;
    border: 1px solid #b9b5b5;
    font-size: 16px;
    color: #9a9999;
    outline: medium none;
    padding: 5px 0;
    text-indent: 6px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
}

.callback-modal h4, .callback-modal .callback-title,
#reservd-modal h4, #ask-modal h4 {
    color: #555555;
    text-align: center;
}

.callback-modal h4, #reservd-modal h4,
#ask-modal h4 {
    font-size: 25px;
}

.callback-modal .callback-title {
    font-size: 19px;
    margin-bottom: 35px;
}

.callback-modal-btn {
    background: url('../i/callback.png') no-repeat;
    width: 174px;
    height: 41px;
    margin: 35px auto 0;
    border: none;
    outline: none;
    display: block;
    position: relative;
}

.callback-modal-btn:active {
    top: 2px;
}

.modal .btn-close {
    background: url('../i/btn-close.png') no-repeat;
    width: 14px;
    height: 14px;
    outline: none;
    opacity: 1;
    margin-right: 12px;
    margin-top: 12px;
}

.callback-modal .link {
    background: url('../i/top.png') no-repeat;
    width: 30px;
    height: 16px;
    position: absolute;
    top: -16px;
    right: 35px;
}

.callback-modal .bottom-link {
    background: url('../i/top.png') no-repeat;
    width: 30px;
    height: 16px;
    position: absolute;
    bottom: -16px;
    right: 35px;
    transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
}

#reservd-modal p, #ask-modal p {
    font-size: 16px;
    text-align: center;
    color: #9a9999;
    margin-top: 30px;
}

#reservd-modal .modal-body, #ask-modal .modal-body {
    padding: 20px 40px 30px;
}

.callback-modal p.error-text {
    top: -20px;
}

#callback-modal {
    left: auto;
    bottom: auto;
    right: 11%;
    margin-top: 0px !important;
    top: 105px;
}

.modalWrap {
    display: block;
    width: 80%;
    margin: 0 auto;
}

#callback-modal-bottom {
    left: auto;
    bottom: 260px;
    right: 11%;
    margin-top: 0px !important;
    top: auto;
}

.modal-title {
    padding-bottom: 20px;
}

.add-btn {
    background: url('../i/add.png') no-repeat;
    width: 174px;
    height: 41px;
    margin: 45px auto 0;
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
    display: block;
}

.add-btn:active {
    top: 2px;
}

.house-comment {
    bottom: 38px;
    left:40px;
    position: absolute;
}

.house-img-free, .house-img-full {
    display: inline-block;
    background: url('../i/houses.png') no-repeat;
    height: 29px;
    width: 20px;
    vertical-align: -8px;
}

.house-img-free {
    background-position: 0px 0px;
}

.house-img-full {
    background-position: -21px 0px;
    margin-left: 40px;
}
.house-comment span{
    font-style: italic;
    color: #616161;
}
.house-comment span:before{
    display: inline-block;
    content: "-";
    color: #c7bd9f;
    padding: 0 10px;
}
.fc-calendar .fc-row > div.fc-full{
    background: #ffe2e3;
}
.fc-calendar .fc-row > div.fc-free{
    background: #f0e7ca;
}
.review-modal{
    padding-top: 0;
}